@font-face {
    font-family:letraperra ;
    src: url(../css/letraencabezado.ttf);
}
@font-face {
    font-family:letraencabezado1;
    src: url(../css/EnglishTowne.ttf);
}

/* estilo de fondo de color de la pagina */

body {
    background-color: #f5f5dc;
}

#textoencabezado {
    font-family:letraencabezado1;
    text-align: center;
    font-size: 80px;
}

#lista-horizontal {
    font-family: 'DM Serif Display', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display SC', serif;
    font-size: 26px;
}

/* Estilos para la lista horizontal que cubre todo el ancho de la pantalla */
#lista-horizontal {
    list-style: none; /* Quita los marcadores de lista */
    padding: 0; /* Quita el relleno predeterminado de la lista */
    width: 100%; /* La lista ocupa todo el ancho disponible */
    display: flex; /* Muestra los elementos en una fila horizontal */
    justify-content: space-around; /* Espacio equitativo entre elementos */
}

#lista-horizontal li {
    display: inline; /* Muestra los elementos en línea */
}

/* Cambia el estilo al pasar el cursor sobre las opciones */
#lista-horizontal a:hover {
    color: #837925; /* Cambia el color del texto al pasar el cursor */
}



#contenedor {
    border-top: 2px solid #000; /* Añade un borde superior de 2px en color negro */
    border-bottom: 2px solid #000; /* Añade un borde inferior de 2px en color negro */
    padding: 0px; /* Agrega relleno al contenedor */
    width: 90%;
}

ol {
    margin: 5px;
}
a {
    text-decoration: none;
    color:#000;
}

#contenedordelcontenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr1 {
    border: 2px solid black;
    width: 95%;
    
}

.contenedor {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: flex-start;
    width: 80%;
}

.stylearticle {
    width: 70%;
    max-width: 800px; /* Add a maximum width to the article to prevent it from getting too wide */
    margin: 0 auto; /* Center the article horizontally */
    padding: 0 10rem;
}

.aside-derecho {
    width: 30%; /* Ancho del aside derecho */
    margin-left: 10%;
}




.stylediv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulodelarticle {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display SC', serif;
}



.carrusel {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    margin: auto;
    overflow: hidden;
}

.carrusel img {
    width: 100%; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Esto asegura que la relación de aspecto se mantenga */
    display: none;
}



.mi-boton {
    background-color: transparent; /* Establece el fondo como transparente */
    border: 0px solid #333; /* Añade un borde para resaltar el botón */
    padding: 10px 15px; /* Ajusta el espaciado interno */
    color: #333; /* Cambia el color del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px;     /* cambiar el tamaño */
}

.mi-boton:hover {
    background-color: #f5f5dc; /* Cambia el color de fondo al pasar sobre el botón */
}

/* modificar el tamaño y tipo de letra de los titulos de cada punto */
.estilotextohtml{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* alinear el texto al centro de la tabla */
.tablapunto3{
    text-align: center;
}